@import "tailwindcss";

html, body {
    overflow-x: hidden;
  }
  
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
  }
  
  .is-inview {
    opacity: 1;
    transform: translateY(0);
  }
  